/*导航*/
body{
	position: relative;
	background-color: #f5f5f5;
}
.index-nav-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:80px;
	z-index: 2;
}
.index-nav{
	width: 1200px;
	height: 80px;
	margin: 0 auto;

}
.index-logo{
	width: 136px;
	margin-right: -136px;
	display: inline-block;
	line-height: 80px;
	float: left;
	
}
.index-logo img{
	vertical-align: middle;
}
.index-nav-list{
	float: left;
	height: 80px;
	line-height: 80px;
	margin-left: 608px;
}
.index-nav-list li{
	float: left;
	font-size: 18px;
}
.index-nav-list li a{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 16px;
	height:36px;
	line-height: 36px;
	color: #fff;

}
.index-nav-list li .index-active,
.index-nav-list li a:hover{
	color: #0082cb;
}
.index-nav-list-last{
    margin-right: -20px;
}
/*bootstrap*/
a:focus {
 outline: none;
}
.navbar-collapse{
	width: 1200px;
	margin: 0 0 0 0px;

}
.navbar-brand {
 padding: 0;
}
#myCarousel {
 margin: 0 ;
}
.carousel-inner .item img {
 margin: 0 auto;
}
.carousel-control {
 font-size: 100px;
}
.navbar{
	position: fixed;
	/*left: 0;*/
	top: 0;
	/*right: 0;*/
	margin: auto;
	height: 80px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
#navbar-collapse .navbar-nav>li>a{
	color:#333;
	padding: 0px 28px;
	line-height: 80px;
	font-size: 16px;
}
.navbar-brand img{
	margin-top: 22px;
}
.carousel-indicators li{
	margin: 4px;
}

.carousel-indicators .active{
	margin: 4px;
}
.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

p{
	display: inline-block;
}
.checkbox{
	display: inline-block;
}
.box{
	max-height:340px;
	max-width: 330px;
	background-color: rgba(0,0,0,.5); 
}
.bg-show{
	background-color: #fff;
	
}
.bg-show a{
	color: #333 !important;
}
#navbar-collapse .navbar-nav li .nav-cont-list4{
    padding-right: 0;
}
#nav a:hover{
	color: #099fde !important;
}
.aActive{
	color: #099fde !important;
}
.bg-show .aActive{
	color: #099fde !important;
}
.container{
	padding: 0;
	width: 1200px;
}
#nav{
	background-color: #fff;
}
/*banner*/
.claims-banner-box{
	width: 100%;
	height: 528px;
	background:url(../../images/news.png) top center;
	margin-top: 80px;
}
/*内容*/
.contact-us-box{
	width: 1200px;
	margin: 0 auto;
}
.contact-us{
	background:url(../../images/contact-us.png) no-repeat;
	margin-top: 70px;
	text-align: center;
	overflow: hidden;
}
.contact-us p{
	display: block;
	color: #fff;
	line-height: 54px;
	font-size: 30px;
}
.contact-us-area{
	margin-top:63px; 
}
.contact-us .map{
	display: block;
	width: 122px;
	height: 36px;
	border: 1px solid #fff;
	margin: 30px auto 72px;
	font-size: 0;
	text-align: left;
}
.contact-us .map img{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 6px 12px 0 16px;
	vertical-align: top;
}
.contact-us .map span{
	font-size: 14px;
	color: #fff;
	line-height: 34px;
}
.feedback{
	width: 1200px;
	margin: 70px auto 102px;
	font-size: 0;
}
.feedback .map{
	display: inline-block;
	width: 492px;
	height: 322px;
	background-color: orange;
}
.feedback .iptArea{
	display: inline-block;
	margin-left: 60px;
	width: 646px;
	vertical-align: top;
}
.feedback .iptArea textarea{
	width: 382px;
	height: 252px;
	border: 1px solid #ddd;
	resize: none;
	font-size: 18px;
	color: #666;
	line-height: 54px;
	padding: 0 36px;
}
.feedback .iptArea div{
	display: inline-block;
	width: 250px;
	margin-left: 14px;
	vertical-align: top;
}
.feedback .iptArea div input{
	width: 100%;
	height: 50px;
	margin-bottom: 16px;
	line-height: 50px;
	padding: 0 10px;
	font-size: 18px;
	border:1px solid #ddd;
}
.feedback .iptArea div button{
	width: 120px;
	height: 52px;
	color: #fff;
	font-size: 24px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0.2em;
	cursor: pointer;
	border: none;
	outline: none;
}
.feedback .iptArea div .submit{
	background-color: #0082cb;
}
.feedback .iptArea div .resize{
	background-color: #7fc0e5;
	margin-left: 10px;
}
.feedback .iptArea p{
	margin-top: 20px;
	line-height: 52px;
	font-size: 18px;
	padding-left: 36px;
	color: #666;
	background-color: #ddd;
	width: 100%;
}
/*底部*/
.bottom-all{
	width: 100%;
	height: 394px;
	background-color: #40474f;
	min-width: 1200px;
	overflow: hidden;
}
.bottom{
	width: 1200px;
	margin:0 auto;
}
.bottom li{
	float: left;
	width: 20%;
	margin-top: 100px;
}
.bottom li h1{
	font-weight: normal;
	color: #fff;
	font-size: 24px;
	margin-bottom: 14px;
}
.bottom li a{
	color: #ddd;
	font-size: 16px;
	line-height: 32px;
}
.bottom li a:hover{
	color: #179cda;
}
.bottom li img{
	width:20px;
	margin-right:15px;
	line-height: 32px;
	vertical-align: middle;  
}
.attention{
	float: right;
	margin-right: 90px;
	overflow: hidden;
}
.attention h1{
    color: #fff;
    font-size:24px;
    margin-top:100px;
    font-weight: normal;
    margin-bottom:20px;   
}
.btm-message-all{
	width: 100%;
	height:50px;
	background-color: #363d44; 
	min-width: 1200px;
}
.btm-message{
	width: 1200px;
	margin: 0 auto;
	/*margin-right: -124px;*/
}
.btm-message span{
	line-height: 50px;
	font-size:16px;
	color: #fff;
	margin-right: 124px; 
}
#btm-message-last{
	margin-right: -124px;
}
.index-advantage ul li:hover{
    color: #0082cb;
}